<head>
  <meta charset="utf-8">
  <title>Project Title </title>
  <meta name="description" content="issuetracker">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
</head>
